/* ======= layout responsivo ========= */

@media screen and (max-width: 767px) {
	.depoimento{
		background-image: url('imagens/6.jpg');
		width: 100%;
		height:150px;
		background-size: cover;
	}
	.fa-quote-right {
		text-align: center;
	}

	.conteudo{
		max-width: 250px;
		text-align: center;
		vertical-align: middle;
	}

}


@media screen and (min-width: 768px) {

}


@media screen and (min-width: 992px) {
	.depoimento {
		background-image: url('imagens/6.jpg');
		background-size:cover;
		width:100px; 
		height:100px; 
		border-radius: 100px; 
		float: right;
		margin-left: 50px;
	}

	.depoimento:hover .filtro {	
		  width:100%;
		  height:100%;
		  border-radius: 100px; 
		  background-color:rgba(0,0,0,0.3);
	}

	.fa-quote-right {
		float:left;
	}
}

@media screen and (min-width: 1200px) {

}



html, body, {
	overflow: hidden;
	background-color: #000;
}

body{
	font-family: 'Raleway', sans-serif;
	overflow-x: hidden;

}


/* Tipografia */

h1 {


}

h2 {
	font-size: 34px;
	font-weight: 400;
}

h3 {
	
}

h4 {
	
}

h5 {
	
}

p{
	padding-top: 10px;
	color:#807E7E;
	font-size:12px;
	line-height: 30px;
}


/* Video */
#video-container {
	width: 100%;
	height: 600px;
	overflow: hidden;
	position: relative;
}
.teste {
	background: rgb(100, 167, 218);
	opacity: 0.55;
	height: 100%;
	width:100%;
}
video {
	min-width: 100%;
	min-height: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: -1;
}

.conteudo {
	position:absolute;
	top:50%;
	left:50%;
	width: 1000px;
	transform: translate(-50%,-50%);
	text-align: center;
}

.conteudo h1 {
	letter-spacing:2px;
	font-size: 45px;
	font-weight: 600;
	color:white;
	margin: 10px 0;
	line-height: 60px;
}

.conteudo h2 {
	padding-top: 15px;
	font-size: 25px;
	color:white;
	margin: 10px 0;
}

/* -- Botões do Banner -- */

.btn-custom {
	letter-spacing:3px;
	font-size:15px;
	color:white;
/*	border-radius: 500px;*/
	font-weight: 600;
/*	-webkit-border-radius:500px;*/
/*	-moz-border-radius:500px;*/
}

.btn-laranja {
	background:#E25A35;
	margin-left: 20px;
	padding-left: 50px;
	padding-right: 50px;
	margin-top: 30px;
}

.btn-laranja:hover {
	background-color:#1EA0FB;
	color:white;
	transition: background 0.4s, color 0.4s;
}

.btn-cinza {
	background:rgb(83,83,83);
	margin-left: 20px;
	padding-left: 50px;
	padding-right: 50px;
	margin-top: 30px;
}

.btn-cinza:hover {
	background-color:#1EA0FB;
	color:white;
	transition: background 0.4s, color 0.4s;
}


/* Texto Pós Banner */
#textopb {
	letter-spacing:1px;
	background-color: white;
	padding-top: 60px;
	color:black; 
	text-align:center;
	vertical-align: middle;
	display:block;
	margin-bottom: 60px;

}


/* Info em blocos */
.conteudo-em-blocos {
	margin-bottom: 80px;
}

.imagem-mulher{
	background-image: url('imagens/mulher.jpg');
	background-size:cover;
	width:100%; 
	height:150px; 
}

/* Img info */
#img-info {
	background-image: linear-gradient(50deg ,rgba(84, 84, 84, 0.5), rgba(84, 84, 84, 1)),url('imagens/2.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 20px;
	width: 100%;
	display: block;
}

.img-info-texto {
	padding: 80px;
	text-align:left;
	color:white; 
	display:table-cell;
	vertical-align: middle;
}

.img-info-texto p {
	color:white; 
}

.homem {
	float:right;
	height: auto;
	width: 524px;
}


/* Img info texto*/
#img-info-texto {
	display:inline-block;
	background-color: white;
	height: 200px;
	padding-top: 60px;
	color:black; 
	text-align:center;
	vertical-align: middle;
}

.titulo-laranja {
	color:#ff5930;	
}

/* Blocos de info */


/* Depoimento */
#depoimento{
	letter-spacing:1px;
	background-color: white;
	padding-top: 60px;
	color:black; 
	text-align:center;
	vertical-align: middle;
	display:block;
	margin-bottom: 80px;
	margin-top: 80px;
}

.titulo-dep{
	color:#1EA0FB;
}


/* Blocos de estatísticas */
#esta{
	font-family: "open sans", helvetica;
	color: white;
	margin-top:80px;
	margin-bottom: 30px;
}

#esta h2{
	margin-top:20px;
	margin-bottom:5px;
	font-size:64px;
	font-weight: 100;
}
#esta h3{
	font-size:44px;
	margin-top: 0px;
	font-weight: 700;
}
#esta h4{
	font-size:12px;
	font-weight: 100;

}
.q1{
	padding:10px;
    display:block;
    text-align:center;
    line-height: 240px;
	display: inline-block;
	height: 240px;
	min-width: 200px;
	background-color: #0E5B90;
}

.q2{
	padding:10px;
    display:block;
    text-align:center;
    line-height: 240px;
	display: inline-block;
	height: 240px;
	min-width: 200px;
	background-color: #1782CC;
}

.q3{
	padding:10px;
    display:block;
    text-align:center;
    line-height: 240px;
	display: inline-block;
	height: 240px;
	min-width: 200px;
	background-color: #1EA0FB;
}

.q4{
	padding:10px;
    display:block;
    text-align:center;
    line-height: 240px;
	display: inline-block;
	height: 240px;
	min-width: 200px;
	background-color: #6FC2FC;
}

.q1:hover, .q2:hover, .q3:hover, .q4:hover{
	background-color:rgba(0,0,0, 0.1);
	color: #545454;
	transition: background 0.8s, color 0.8s;
}


/* Infos adicionais */
.box-texto{
	display: block;
	text-align: left;
	padding:80px;
}

.border-right {
    border-right: 1px solid #ddd;
}

/* Rodapé */

#rodape {
	background-color:black;
	position: relative;
	padding-top: 30px;
}

#rodape h4:hover {
color:white;
}

#rodape h5:hover {
color:white;
}

#rodape a {
color: #545454;
text-decoration: none;
}

#rodape a:hover {
color:white;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:50%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}


/* Painel */

@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css");

.panel-pricing {
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -webkit-transition: all .3s ease;
}
.panel-pricing:hover {
  box-shadow: 0px 0px 30px rgba(0,0,0,0.2);
  /*(30, 160, 251)*/
}
.panel-pricing .panel-heading {
  padding: 20px 10px;
}
.panel-pricing .panel-heading .fa {
  margin-top: 10px;
  font-size: 58px;
}
.panel-pricing .list-group-item {
  color: #777777;
  border-bottom: 1px solid rgba(250, 250, 250, 0.5);
}
.panel-pricing .list-group-item:last-child {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.panel-pricing .list-group-item:first-child {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
.panel-pricing .panel-body {
  background-color: #f0f0f0;
  font-size: 40px;
  color: #777777;
  padding: 20px;
  margin: 0px;
}



